{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="container">
        <section class="page-header">
            <h1 class="page-title">F1 Tracks</h1>
        </section>

            <div class="wrapper">
                {% for track in tracks %}
                    <div class="track-list-card driver-list-card">
                        <div class="track-top">
                            {% if track.image_url %}
                                <img src="{{ track.image_url }}" alt="{{ track.name }}">
                            {% else %}
                                <img src="{% static 'images/formula-logo.png' %}" alt="Default Logo">
                            {% endif %}
                            <h2>{{ track.name }}</h2>
                        </div>
                        <hr>
                        <p><strong>Country:</strong> {{ track.country }}</p>
                        <p><strong>Length:</strong> {{ track.length_km }} km</p>

                        <div class="actions">
                            <a href="{% url 'races:track_details' track.pk %}" class="card-btn ">Details</a>
                        </div>
                    </div>
                {% empty %}
                    <h2>No tracks available yet.</h2>
                {% endfor %}
            </div>
    </div>
{% endblock %}