{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="container team-detail">

    <a href="{% url 'teams:list' %}" class="back-link">← Back to Teams</a>

    <!-- TEAM HEADER -->
    <div class="feature-card header-card">
        <div class="team-header-left">
            <img class="profile-picture" src="{{ profile.profile_picture.url }}" alt="{{ profile.user.username }}">
        </div>

        <div class="header-right">
            <h1>{{ profile.user.username }}</h1>
            <p><strong>Joined:</strong> {{ profile.user.date_joined }}</p>
            {% if profile.user.is_active %}
                <span class="status-badge status-badge--active">Account is active</span>
            {% else %}
                <span class="status-badge status-badge--inactive">Account is inactive</span>
            {% endif %}
            {% if request.user == object.user %}
                <div class="actions-bottom">
                        <a href="{% url 'accounts:edit' %}" class="card-btn ">Edit Account</a>
                       <a href="{% url 'accounts:delete' %}" class="card-btn dark-btn">Delete Account</a>
                </div>
            {% endif %}

        </div>
    </div>

    <div class="team-content">

        <div class="feature-card team-drivers" id="track-card-profile">
            <h2>Favorite Tracks</h2>

            <div class="tracks-wrapper">
                {% for track in profile.favorite_tracks.all %}
                    <div class="driver-card">
                        <img src="{{ track.image_url }}" alt="Track image">
                        <a href="{% url 'tracks:details' track.pk %}"><h3>{{ track.name }}</h3></a>
                    </div>
                {% empty %}
                    <p>No favorite tracks yet.</p>
                {% endfor %}
            </div>
        </div>

        <div class="feature-card race-results">
            <h2>Owned Teams</h2>

            {% for team in profile.user.owned_teams.all %}
                <div class="result-item">
                    <h3>{{ team.name }}</h3>
                    <p><strong>Principal:</strong> {{ team.principal }}</p>
                    <p><strong>Drivers:</strong></p>
{#                    <ul>#}
                        {% for driver in team.drivers.all %}
                            <p><strong>-> {{ driver.name }}</strong></p>
                        {% endfor %}
{#                    </ul>#}
                </div>
            {% empty %}
                <p>No teams yet.</p>
            {% endfor %}
        </div>
    </div>

</section>

{% endblock %}