/* FEATURES */

.features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em;
}

.feature-card {
    background-color: #fff;
    padding: 1.5em;
    border-radius: 0.5em;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.feature-card > img {
    height: 70px;
}

.feature-card > h3 {
    font-weight: bolder;
    margin-bottom: 10px;
}

.feature-card > p {
    margin-bottom: 1em;
}



/* RESULTS */
.latest-results {
    margin-bottom: 60px;
}

.results-card {
    background-color: #fff;
    padding: 25px;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    max-width: 500px;
}

.results-list {
    margin: 15px 0;
    padding-left: 20px;
}

.results-card hr {
    margin: 0.5em 0;
}

.results-wrapper {
    display: flex;
}



