/* FORM SECTION */
.form-section {
    margin: 1em auto;
}

.form-card {
    max-width: 600px;
    margin: 2em auto;
}

/* FORM GROUP */
.form-group > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 6px;
}

/* INPUT STYLING */
.form-group input,
.form-group select,
.form-group textarea {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: Titillium Web, sans-serif;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
    outline: none;
    border: 1px solid #e10600;
}

/* ACTION BUTTONS */
.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 20px;
}

.form-input {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: Titillium Web, sans-serif;
}

.form-input:focus {
    outline: none;
    border: 1px solid #e10600;
}

.error {
    color: #e10600;
    font-size: 14px;
}

.form-section ul > li{
    color: red;
    margin-left: 2em;
}