* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Titillium Web, sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #222;
}

body > * {
    width: 100%;
}

.main-container {
    min-height: 81vh;
}

.container {
    width: 90%;
    margin: 0 auto;
}

h1, h2, h3 {
    font-family: Archivo Black, sans-serif;
}

.main-container > .hero,
.main-container > .features,
.main-container > .latest-results {
    margin-bottom: 2em;
}
