.hero {
    height: 57vh;
    background: url("../images/formula-car1.png") center/cover no-repeat;
    position: relative;
}

.hero-overlay {
    background: rgba(0, 0, 0, 0.2);
    height: 100%;
    display: flex;
    align-items: center;
}

.hero-content {
    color: #fff;
    margin: 0 auto;
    width: 90%;
}

.hero-overlay h1 {
    font-size: 70px;
    font-weight: bolder;
    margin-bottom: 15px;
    line-height: 1em;
}

.hero p {
    font-size: 18px;
    margin-bottom: 25px;
}
