@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700;900&family=Orbitron:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Titillium Web, sans-serif;
}

/* GLOBAL */
body {
    background-color: #f5f5f5;
    color: #222;
}

body > * {
    width: 100%;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* NAVBAR */
.navbar {
    background-color: #0b0e1a;
    padding: 16px 0;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.nav-links .cta {
    background-color: #e10600;
    padding: 8px 14px;
    border-radius: 4px;
}

/* HERO */
.hero {
    height: 57vh;
    background: url("../images/formula_car1.png") center/cover no-repeat;
    position: relative;
}

.hero-overlay {
    background: rgba(0, 0, 0, 0.2);
    height: 100%;
    display: flex;
    align-items: center;
}

.hero-content {
    color: #fff;
    margin: 0 auto;
    width: 90%;
}

.hero h1 {
    font-size: 70px;
    font-weight: bolder;
    margin-bottom: 15px;
    line-height: 1em;
    font-family: Archivo Black, sans-serif;
}

.hero p {
    font-size: 18px;
    margin-bottom: 25px;
}

.hero-buttons {
    display: flex;
    gap: 15px;
}

/* BUTTONS */
.btn {
    text-decoration: none;
    padding: 12px 22px;
    border-radius: 4px;
    font-weight: bold;
}

.primary {
    background-color: #e10600;
    color: #fff;
    transition: box-shadow 0.3s ease;
}

.primary:hover {
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);

}

.secondary {
    background-color: #fff;
    color: #000;
    transition: box-shadow 0.3s ease;

}

.secondary:hover {
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);

}

.small {
    padding: 8px 14px;
    display: inline-block;
    margin-top: 10px;
}

/* FEATURES */
.features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 60px auto;
}

.feature-card {
    background-color: #fff;
    padding: 25px;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.feature-card img {
    max-width: 100px;
    height: 70px;
}

.feature-card h3 {
    font-weight: bolder;
    margin-bottom: 10px;
}

.feature-card p {
    margin-bottom: 1em;
}

.card-btn {
    text-decoration: none;
    color: #121B31;
    border: 1px solid #121B31;
    padding: 0.5em 2em;
    border-radius: 0.3em;
    font-weight: bold;
    transition: box-shadow 0.3s ease;

}

.card-btn:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);

}

.dark-btn {
    background: #121B31;
    padding: 0.5em 2em;
    color: white;
}

/* RESULTS */
.latest-results {
    margin-bottom: 60px;
}

.results-card {
    background-color: #fff;
    padding: 25px;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    max-width: 500px;
}

.results-list {
    margin: 15px 0;
    padding-left: 20px;
}

/* FOOTER */
.footer {
    background-color: #0b0e1a;
    color: #ccc;
    padding: 25px 0;
}

.footer-content {
    text-align: center;
    font-size: 14px;
}