table, th, td {
    padding: 0.5em 1em;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

table {
        width: 100%;
}

.position-column {
    color: red;
}

table .actions-bottom {
    justify-content: center;
}