.team-detail {
    margin: 60px auto;
}

.back-link {
    display: inline-block;
    margin: 0.5em 0;
    text-decoration: none;
    color: #121B31;
    font-weight: bold;
}

.header-card {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 1em;
    margin-bottom: 1em;
}

.team-header-left img {
    height: 100px;
}

.header-right h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.team-content {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    height: 100%;
    align-content: center;
    margin-bottom: 1em;
}

.race-results {
    flex: 1;
    min-width: 320px;
    padding: 1em;
}

.team-drivers {
    min-width: 45%;
}

.drivers-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.driver-card {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    border-radius: 0.3em;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.driver-card img {
    height: 400px;
    background: #f4f4f4;
    object-fit: scale-down;
}

.driver-card h3 {
    flex-grow: 1;
    padding: 0.3em 0.5em;
    border: 1px solid #E2E0E7;
    border-top: none;
    border-radius: 0 0 0.3em 0.3em;
}

.race-results > h2,
.team-stats > h2,
.car-info > h2 {
    margin-bottom: 1em;
}

.result-item {
    margin-bottom: 15px;
    padding: 0.5em 1em;
    border-bottom: 1px solid #ddd;
}

.result-item:hover {
    background: #f5f5f5;
}

.result-item > p {
    margin-bottom: 0.5em;
}

.actions-bottom {
    display: flex;
    gap: 1em;
    margin-top: 0.5em;
}

.created-edited {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-style: italic;
    color: #6e6e6e;
}

.team-stats {
    flex: 0 0 25%;
}

.car-info {
    flex: 1;
}

.car {
    padding: 1em;
    border: 1px solid #E2E0E7;
    border-radius: 0.5em;
}

.car > h3,
.car > p {
    margin-bottom: 0.5em;
}

.status-badge {
    padding: 0.2em 0.5em;
    border-radius: 0.5em;
    color: white;
}

.status-badge--active {
    background: green;
}

.status-badge--inactive {
    background: red;
}

.location-icon {
    vertical-align: middle;
    height: 20px;
    width: auto;
    margin-right: 0.5em;
}

.driver-card a {
    color: inherit;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.driver-card a:hover {
    text-decoration: underline;
    background-color: #dfdfdf;
}
