{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="container">
        <section class="page-header">
            <h1 class="page-title">F1 Drivers</h1>
            <a href="{% url 'drivers:create' %}" class="btn primary">+ Add Driver</a>
        </section>

            <div class="wrapper">
                {% for driver in drivers %}
                    <div class="driver-list-card">
                        <div class="driver-top">
                            {% if driver.image %}
                                <img src="{{ driver.image }}" alt="{{ driver.name }}">
                            {% else %}
                                <img src="{% static 'images/formula-logo.png' %}" alt="Default Logo">
                            {% endif %}
                            <h2><span class="driver-number">{{ driver.number }}</span> <br>{{ driver.name }}</h2>
                        </div>
                        <hr>
                        <p><strong>Country:</strong> {{ driver.nationality }}</p>
                        <p><strong>Team:</strong> {{ driver.team.name }}</p>
                        <p><strong>Wins:</strong> {{ driver.wins }}</p>

                        <div class="actions">
                            <a href="{% url 'drivers:details' driver.pk %}" class="card-btn ">Details</a>
                        </div>
                    </div>
                {% empty %}
                    <h2>No drivers available yet.</h2>
                {% endfor %}
            </div>
    </div>
{% endblock %}