{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">


        <a href="{% url 'races:race_list' %}" class="back-link">← Back to Races</a>

        <div class="feature-card header-card">

            <div class="header-right">
                <h1>{{ race.name }}</h1>
                <p><img class="location-icon" src="{% static 'images/location-icon.png' %}" alt="Location icon">Round {{ race.round_number }} · {{ race.track.name }} Circuit</p>
                <p><strong>Laps:</strong> {{ race.laps }}</p>
                <p><strong>Weather:</strong> {{ race.weather }}</p>
                <p><strong>Date:</strong> {{ race.date }}</p>

                <div class="actions-bottom">
                        <a href="{% url 'races:race_edit' race.pk %}" class="card-btn ">Edit Race</a>
                        <a href="{% url 'races:race_delete' race.pk %}" class="card-btn dark-btn">Delete Race</a>

                        <div class="created-edited">
                            <p>Created: {{ race.created_at }}</p>
                            <p>Edited: {{ race.updated_at }}</p>
                        </div>
                </div>


            </div>
        </div>

        <div class="team-content">

            <div class="feature-card race-results">
                <div class="page-header">
                    <h2>Race Results</h2>
                    <a href="{% url 'races:result_add' %}" class="btn primary small">+ Add Result</a>

                </div>
                    {% if race.results.all %}
                        <table>
                            <tr>
                                <th><h3>Position</h3></th>
                                <th><h3>Driver</h3></th>
                                <th><h3>Points</h3></th>
                                <th><h3>Team</h3></th>
                                <th><h3>Nationality</h3></th>
                                <th><h3>Actions</h3></th>
                            </tr>

                            {% for result in race.results.all %}
                            <tr>
                                {% if result.status != "Finished" %}
                                    <td><span style="color: darkred"><strong>{{ result.status }}</strong></span></td>
                                {% else %}
                                    <td class="position-column"><strong>{{ result.finishing_position }}</strong></td>
                                {% endif %}
                                <td>{{ result.driver.name }}</td>
                                <td>{{ result.points_awarded }}</td>
                                <td>{{ result.driver.team.name }}</td>
                                <td>{{ result.driver.nationality }}</td>
                                <td>
                                    <div class="actions-bottom">
                                        <a href="{% url 'races:result_edit' result.pk %}" class="card-btn ">Edit Result</a>
                                        <a href="{% url 'races:result_delete' result.pk %}" class="card-btn dark-btn">Delete Result</a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                        {% else %}
                        <p>No results yet.</p>
                    {% endif %}
            </div>
        </div>
    </div>
{% endblock %}