{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="hero">
    <div class="hero-overlay">
        <div class="hero-content">
            <h2>WELCOME TO</h2>
            <h1>F1 SEASON <br> TRACKER</h1>
            <p>Create and manage your very own <br> formula 1 season.</p>
            <div class="hero-buttons">
                <a href="#" class="btn primary">Get Started</a>
                <a href="#" class="btn secondary">View Calendar</a>
            </div>
        </div>
    </div>
</section>

<section class="features container">
    <div class="feature-card">
        <img src="{% static 'images/chequered-flag.png' %}" alt="Chequered flag">
        <h3>Manage Teams</h3>
        <p>Add and organize teams for <br> your custom season.</p>
        <a href="{% url 'teams:list' %}" class="card-btn dark-btn">View Teams</a>
    </div>

    <div class="feature-card">
        <img src="{% static 'images/helmet.png' %}" alt="Helmet">
        <h3>Track Drivers</h3>
        <p>Add drivers, assign them to teams, <br> and track stats.</p>
        <a href="{% url 'drivers:list' %}" class="card-btn">Browse Drivers</a>
    </div>

    <div class="feature-card">
        <img src="{% static 'images/schedule.png' %}" alt="Schedule">
        <h3>Schedule Races</h3>
        <p>Plan, view all race events in your <br> season and add race results.</p>
        <a href="{% url 'races:race_list' %}" class="card-btn">See Races</a>
    </div>
</section>

<section class="latest-results container">
    <h2>Latest Race Results</h2>

    <div class="results-card">
        <h3>{{ latest_race.name }}</h3>
        <p>Round {{ latest_race.round_number }} · {{ latest_race.track.name }} Circuit</p>

        <ul class="results-list">
            {% for result in latest_race.results.all|slice:":3" %}
                <li>
                    {{ result.finishing_position }}.
                    {{ result.driver.nationality }}
                    — <strong>{{ result.driver.name }}</strong>
                    — {{ result.points_awarded }} pts
                </li>
            {% endfor %}
        </ul>

        <a href="{% url 'races:race_details' latest_race.pk %}" class="btn small">View Full Results</a>
    </div>
</section>

{% endblock %}
